{% block header %}
  <div class="container">
    <div class="combo combo--middle">
      <div class="combo-first">
        <h1 class="header-logo" role="banner">
          <a class="header-logo-link" href="{{ site.url }}" rel="home"><span class="u-screenReader">{{site.name}}</span>
            Logo
          </a>
        </h1>
      </div>
      <div class="combo-last">
        <nav id="navigation-menu" class="navigation" role="navigation">
          {% include "menu.twig" with {'menu': menu.get_items} %}
        </nav><!-- #nav -->
        <button id="navigation-toggle" class="navigation-toggle" value="Toggle Mobile Navigation">
          <span class="u-screenReader">Toggle Mobile Navigation</span>
          <svg class="svg svg-mobile" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path d="M58.7 22.7H5.3v-5.3h53.3v5.3zm0 12H5.3v-5.3h53.3v5.3zm0 12H5.3v-5.3h53.3v5.3z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
{% endblock %}