{% extends "base.twig" %}

<section id="content" role="main" class="container">
  {% if title %}<h1>{{title}}</h1>{% endif %}
  <div class="wrapper {{sidebar_class}}">
    {% block content %}
      Sorry, no content
    {% endblock %}
  </div>
  {% if sidebar %}
    <aside class="layout-sidebar">
      {{sidebar}}
    </aside>
  {% endif %}
</section>