font-dir = './fonts/geomanist-'

// Geomanist
@font-face
  font-family: Geomanist
  src: url(font-dir + 'regular.eot') /* IE9 Compat Modes */
  src: url(font-dir + 'regular.otf') format('embedded-opentype') /* IE6-IE8 */
  src: url(font-dir + 'regular.woff2') format('woff2') /* Super Modern Browsers */
  src: url(font-dir + 'regular.woff') format('woff') /* Pretty Modern Browsers */
  src: url(font-dir + 'regular.ttf')  format('truetype') /* Safari, Android, iOS */
  src: url(font-dir + 'regular.svg') format('svg') /* Legacy iOS */

@font-face
  font-family: Geomanist
  src: url(font-dir + 'regular.otf')
  font-weight: normal

@font-face
  font-family: Geomanist
  src: url(font-dir + 'light.otf')
  font-weight: light