replicate(selector)
  {selector}
    {block}
  for key, value in breakpoints
    @media value.breakpoint
      {selector}--{key}
        {block}

media(bp)
  for key, value in breakpoints
    if key == bp
      @media value.breakpoint
        {block}

columns-wide(numb)
  ($container-width/$grid-columns) * numb