// SPACING
for num in (1..8)
  .u-spacerTop{num * 100}
    margin-top: num * 100px !important

  .u-spacerBtm{num * 100}
    margin-bottom: num * 100px !important

for num in(1..3)
  .u-spacerTop{num * 25}
    margin-top: num * 25px !important

  .u-spacerBtm{num * 25}
    margin-bottom: num * 25px !important

for num in(1..4)
  .u-spacerTop{num * 5}
    margin-top: num * 5px !important

  .u-spacerBtm{num * 5}
    margin-bottom: num * 5px !important

for num in (1..10)
  .u-spacerTop{num * 10}
    margin-top: num * 10px !important

  .u-spacerBtm{num * 10}
    margin-bottom: num * 10px !important

// no way to interpolate vars into string :(
+replicate('.u-spacerBtm25')
  margin-bottom: 25px

+replicate('.u-spacerTop20')
  margin-top: 20px

.u-block
  display: block

.u-inline-block
  display: inline-block

.u-letterSpacingSmall
  letter-spacing: 0.5px

+replicate('.u-center')
  text-align: center

.u-alignright
  text-align: right

.u-floatright
  float: right

+replicate('.u-hide')
  display: none

.u-clearfix
  &:after
    content: ""
    display: table
    clear: both

.u-screenReader
  position: absolute
  top: -99999px
  left: -99999px
  font-size: 0

.u-quote
  &:before
    content: "\201C"
  &:after
    content: "\201D"

.u-nowrap
  white-space: nowrap

.u-bordered
  display: block
  width 96px
  height: 3px
  // background-color: $color['turqoise']

.u-capitalize
  text-transform: capitalize

.u-separator
  border-bottom: 1px solid #f4f4ef
  margin-top: 25px
  margin-bottom: 25px

.u-paddingBtm100
  padding-bottom: 100px