base-font-size ?= 18px
grid-columns ?= 12
container-width ?= 1024px

breakpoints ?= {
  large: {breakpoint: '(min-width: 583px)', gutter: 24px},
  desk: {breakpoint: '(min-width: 1024px)', gutter: 24px},
  lap: {breakpoint: '(min-width: 583px) and (max-width: 1023px)', gutter: 24px},
  portable: {breakpoint: '(max-width: 1023px)', gutter: 24px},
  tablet-portrait: {breakpoint: '(max-width: 830px)', gutter: 24px},
  tablet-portrait-min: {breakpoint: '(min-width: 831px)', gutter: 24px},
  palm: {breakpoint: '(max-width: 582px)', gutter: 24px}
}

//color pallete
$rich-dark-grey-blue = #2e395a
$rich-dark-grey      = #1e253f
$rich-pale-grey      = #f4f6f7
$battleship-grey     = #797c83
$charcoal-grey       = #313848
$rich-light-grey     = #9b9b9b
$rich-lighter-grey   = #fbfbfb

$rich-white          = #ffffff
$rich-purple         = #b779b8
$rich-mac-n-cheese   = #dfbb41
$rich-green          = #c4de70
$rich-light-green    = #e4f1a9

//font pallete
$font-sanSerif = 'Geomanist', 'sans-serif'

$transition = .36s ease-in-out

$box-shadow = 0 2px 10px 0 rgba(0, 0, 0, 0.1)

// Hero section padding
$hero-padding = 90px

$gradient = {
  midnight: linear-gradient(to bottom, #2e395a, #1e253f),
  button-blue: linear-gradient(to bottom, #536392, #323d67),
  radial: radial-gradient(circle at 49% 55%, #2e395a, #1e253f),
  radience: linear-gradient(to right,  #b779b8 0%,#dfbb41 44%,#c4de70 100%)

  // /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b779b8+0,dfbb41+44,c4de70+100 */
  // background: #b779b8; /* Old browsers */
  // background: -moz-linear-gradient(left,  #b779b8 0%, #dfbb41 44%, #c4de70 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(left,  #b779b8 0%,#dfbb41 44%,#c4de70 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to right,  #b779b8 0%,#dfbb41 44%,#c4de70 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b779b8', endColorstr='#c4de70',GradientType=1 ); /* IE6-9 */
}